@tailwind base;
@tailwind components;

:root {
    --gradient-start-contact: rgb(13, 231, 71);
    --gradient-end-contact: rgb(2, 205, 251);
    --gradient-start-coding: rgb(10, 238, 219);
    --gradient-end-coding: rgb(49, 16, 233);
    --gradient-start-home: blue;
    --gradient-end-home: purple;
    --dark-primary: rgb(8, 242, 215);
    --dark-secondary: rgb(52, 33, 176);
    --dark-text-primary: rgb(146, 238, 227);;
    --dark-text-secondary: rgb(119, 134, 250);
    --dark-background-primary: rgb(29, 22, 43);
    --dark-background-secondary: rgb(7, 58, 81);
}

@property --gradient-start {
    syntax: "<color>";
    inherits: true;
    initial-value: blue;
}

@property --gradient-end {
    syntax: "<color>";
    inherits: true;
    initial-value: purple;
}

.gradient-text {
    @apply text-gradientDivider;
    color: transparent;
    background:  linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
    -webkit-background-clip: text;
    background-clip: text;
    transition-property: --gradient-start, --gradient-end;
    transition-duration: 2s;
}

html {
    /* Font defined in tailwind.config.ts */
    @apply font-serif;
    @apply text-[16pt] sm:text-[20pt];
}

body {
    @apply text-darkTextPrimary bg-darkBackgroundPrimary;
}

a {
    @apply text-darkTextSecondary;
    @apply transition-colors duration-500 ease-in-out hover:text-darkTextPrimary;
}

/* .content {
    display: flex;
    align-items: center;
    margin-top: 0;
} */

@tailwind utilities;